<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=C:\Users\Андрей\Desktop\Учеба\Свои проекты\Finstar_test\Finstar_test\Data\Database.mdf;integrated security=true;database=Database;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="InputFilePath" value="./input.txt" />
		<add key="OutputFilePath" value="./Results/output.csv" />
	</appSettings>
</configuration>